
.profileContent{
    width: 936px;
    margin-top: 106px;
    display: flex;
    padding-bottom: 42px;
    border-bottom: 1px solid #ccc;
    justify-content: center;

    .imgUser{
    
        box-shadow: 1px 1px 2px #ccc;
        margin-right: 70px;
    }

    .profileControl{
        
        .userName{
            font-size: 28px;
            line-height: 40px;
            font-weight: 100;
            margin-right: 26px;
        }
        .uploadImg{
            padding-right: 16px;
        }
    }
}

.folow{
    display: flex;
    width: 100%;
    .folowItem{
        font-size: 18px;
        font-weight:100;
        margin-right:32px;
        color: #262626;
        margin-bottom: 0;
        padding:0;
        margin-left:0;
        padding-top: 32px;
    }
}

.menuContol{
    display: flex;
    margin-top: 32px;
    .menuItem{
        color: #8e8e8e;
        margin-right: 62px;
        font-size:16px;
        font-weight:300;
    }
}

.listImage{
    margin-top: 36px;
    width: 936px;
}

.ImgItem{
    height: 294px;
    margin-bottom: 8px;
    object-fit: cover;
    margin-right: 0!important;
}

 
.boxImg{
    width: 100% !important;
    display: flex !important;
    justify-content:center !important;
}

@media (max-width: 992px) {
    .ImgItem{
        height: 290px ;
        width: 290px ;
        margin-bottom: 0 ;
    }
 
}

 
@media(min-width:810px) and (max-width: 890px) {
 
    .ImgItem{
        height: 270px ;
        width: 270px ;
    }
 
}
@media(min-width:768px) and (max-width: 810px) {
 
    .ImgItem{
        height: 250px ;
        width: 250px ;
    }

    .folowItem{
        font-size: 16px !important;
    }
 
}
 
@media(min-width:577px) and (max-width: 768px) {
 
    .profileControlUpload,
    .folow,
    .menuContol{
        width: 100%;
        justify-content: center !important;
    }
 
 
    .ImgItem{
        height: 288px ;
        width: 288px ;
        margin-bottom: 12px;
    }
 
    .colImage{
        // margin: 0 12px !important;
    }
 
    .menuItem:last-child{
        margin-right: 0 !important;
    }
 
 
}
 
@media(max-width:576px){
    
    .profileControlUpload,
    .folow,
    .menuContol{
        width: 100%;
        justify-content: center !important;
        flex-wrap: wrap;
    }
 
    .userName{
        font-size:18px;
    }
 
    .folow{
        display: none;
    }
 
    .menuContol{
        margin-top:38px !important;
    }
 
    .menuItem{
        margin-right: 12px !important;
    }
 
    .menuContol:last-child{
        margin-right: 0 !important;
    }
 
 
    .iconSeting{
        display:none;
    }
}
 
 
@media (max-width: 768px) {
    .folowItem{
        font-size:16px !important;
    }
 
    .imgUser{
        margin-right: 0 !important;
    }
 
    .profileControl{
        text-align: center !important;
    }
 
    .userName{
        font-size: 18px !important;
    }
 
 
}
 